.container {
  display: flex;
  justify-content: center;
}

.imageContainer {
  width: 800px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  height: 350px;
  width: 350px;
}
