.photoGameContainer {
  text-align: center;
}

h2 {
  margin: 20px;
  font-size: 30px;
}

.inputContainer {
  text-align: center;
  margin: 20px;
}

.inptuText {
  width: 500px;
  height: 70px;
  font-size: 25px;
  border: none;
  border-radius: 25px 0 0 25px;
  text-align: center;
  outline: none;
  background-color: #f4f4f4;
}

.inptutSub {
  width: 100px;
  height: 70px;
  font-size: 25px;
  border: none;
  border-radius: 0 25px 25px 0;
  text-align: center;
  outline: none;
  background-color: orange;
  color: #f4f4f4;
}

.btn {
  width: 500px;
  height: 70px;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  text-align: center;
  outline: none;
  background-color: orange;
  color: #f4f4f4;
}

.finishedGame {
  display: grid;
  place-items: center;
  height: 100vh;
}
/* 
.scoreBtn {
  position: absolute;
  right: 50%;
  top: 50%;
} */
