.keyboard {
  margin: 20px 2%;
}

.keyboard > button {
  width: 10%;
  height: 70px;
  margin: 1%;
  background-color: honeydew;
  border-radius: 8px;
  border: 1px solid green;
  font-weight: bold;
  font-size: large;
}

.keyboard > button:hover {
  background-color: rgb(166, 245, 166);
}

@media screen and (min-width: 769px) {
  .keyboard {
    margin: 40px 15%;
  }

  .keyboard > button {
    width: 10%;
    height: 80px;
    margin: 1%;
  }
}
